html
  head
    - title="Ontario Line Stations"
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    title #{title}
    link(href='./assets/spencer.min.css' rel='stylesheet')
    link(href='./assets/spencer-blog.css' rel='stylesheet')
    style.

  body.font
    .header
      a.back(href='../../') 〱 
      a.title(href='#top') #{title}
    .top#top
    .main
    script(src='./assets/bundle.js')         